@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


:root {
    --yellow: #f1a600;
    --black: #1f1d2c;
    --black-gray: #242635;
    --gray: #e5e5e5;
    --white: #ffffff;

}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--gray);
}

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;


}

body {
    font-family: 'Inter', sans-serif;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*Nav Menu-Hamburguesa*/

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.5rem;
    height: 60px;
    background-color: var(--black);
    color: var(--white);
    position: fixed;
    z-index: 1024;
}

.nav-logo {
    width: 45px;
    display: none;
}

#btn-menu {
    display: none;
}

.nav-menu {
    background-color: var(--black);
    position: absolute;
    width: 100%;
    top: 50px;
    left: -100%;
    height: calc(100vh - 50px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: left .5s linear;
}


.nav-menu{
    list-style: none;
    font-size: 1.25rem;
    color: var(--gray);
    
}
.nav-menu .nav-item{
    position: relative;
    padding: 5px;
}

.nav-menu .nav-item::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 0.05rem;
    background: var(--yellow);
    transition: .4s ease-out;
}

.nav-menu .nav-item:hover::after{
    left: 0;
    width: 100%;
    
}

.nav-item a:hover{
    color: var(--yellow)
}

.social-conteiner img:hover{
 transform: scale(1.1, 1.1);
 transition: .3s;
}

.social-conteiner{
    position: relative;
}

#btn-menu:checked~.nav-menu {
    left: 0;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.header-content {
    background-color: var(--black);
    color: var(--white);
}

#perfil-photo{
    object-fit: contain;
    position: relative;
}



.header-information {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4.5rem 1.5rem 5rem;

}

.header-content h1 {
    font-size: 3.1rem;
    padding-bottom: 1rem;
    position: relative;
}

.header-content h2 {

    font-size: 1.5rem;
    max-width: 600px;
    color: var(--gray);
    padding-bottom: 1rem;
    position: relative;
}

.header-content h4 {
    color: var(--gray);
    padding-bottom: 1rem;
    position: relative;
}

span {
    color: var(--yellow);
    font-size: 1rem;
    position: relative;
}

#icon-A{
 animation: load 1s infinite;
}

#icon-A:hover{
    
    position: relative;
}

@keyframes load {
    0%{
      top:0px;
    }
    50%{
      top: -15px;
    }
    100%{
      top: 0px;
    } 
  }


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*ACERCA DE MI*/

.page-content {
    background-color: var(--black-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 1.5rem 5rem;

}

.words h2 {
    padding: 3rem;
    color: var(--white);
    font-size: 3rem;

}

.words h3 {

    max-width: 992px;
    color: var(--gray);

}

.UVM {
    padding: 5rem;

}

.UVM h3 {
    color: var(--white);
}

.UVM p {
    color: var(--gray);
}

.academlo h3 {
    color: var(--white);
}

.academlo p {
    color: var(--gray);
}

/*---------------------------------------------------------------------------------------------------------------------*/

.page-experience {
    background-color: var(--black);
}

.word-01 h2 {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 2rem 1.5rem;
    font-size: 2.2rem;
}

.content-experience {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 4rem;
}

.content-icon {
    display: flex;
    width: 80px;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 1.5rem;
    gap: 3rem;


}

.content {
    color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
    font-size: x-small;
    padding-right: 0.5rem;

}

/*------------------------------------------------------------------------------------------------------------*/

/*MIS HABILIDADES*/

/* .page-skills{
    background-color: var(--black);
    
} */

/* .skills{
    color: var(--white);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 1.5rem 1.5rem;
    padding-top: 1.5rem;
    font-size: 2.2;
    position: relative;
} */

/*********************************************************----------------------------------------------------*/

/*.conteiner-skills{
    
    
    
}*/

.pharse-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--black);
}

.pharse-skills h2 {
    color: var(--white);
    z-index: 10;
}

.container-skills {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: var(--black);
    flex-direction: column;
    width: 100%;
}

.container {
    position: relative;
    width: 90%;
}

.container h2 {
    color: #fff;
}

/* ::after{
    content: '';
} */

.container .skills {
    position: relative;
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 20px 10px 18px;
    background: linear-gradient(#616161 0%, #333 10%, #222);
    border-radius: 1rem;
}


.container .skills:hover{
   opacity: 1;
   transform: scale(1.1,1.1);
   transition: all .3s ease .1s;
}

.container .skills:before {
    content: '';
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, .1);
    z-index: 10;

}

.container .skills .Name {
    width: 110px;
    text-align: right;
    color: var(--white);
    margin-top: -2px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: system-ui;
    font-size: medium;
}

.container .skills .Value {
    position: relative;
    width: 40px;
    text-align: left;
    color: var(--yellow);
    margin-top: -2px;
    text-transform: uppercase;
}

.container .skills .percent {
    position: relative;
    width: calc(150% - 150px);
    height: 20px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
}

.progress {
    width: 100%;
}

.container .skills .percent .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: whitesmoke;
    box-shadow: inset 0 0 2px #000;
    animation: animate 4s ease-in-out forwards;
}

.container .skills .percent .progress:hover{
    animation: animate 4s ease-in-out forwards;
}

@keyframes animate {
    from {
        width: 0;
    }
}

.rectangle-skill-container{
 width: 65%;
 /* height: 100vh; */
 position: relative;
 left: 0;
 top: 0;
 /* border: 3px dashed yellow; */
 /* width: 100vh; */
}

.rectangle-skill{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: -30vw;
    top: -17vh;
    
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*PORTAFOLIO*/

.portafolio {
    background-color: var(--black);
    position: relative;
}

.portafolio-img img{
    width: auto;
    height: 100%;
}

/* .portafolio-img div:hover{
  transform: scale(0.9);
  transition: .5s;

} */

.briefcase h2 {
    color: var(--white);
    text-align: center;
    padding: 2rem;
}

.portafolio-conteiner {
    padding: 1rem 1.5rem 5rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 3rem;
}

.card{
    height: 80%;
    width: 100%;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.card img{
    
    height: 100%;
    width: 100%;
    border-radius: 3px;
    
}

.intro{
    height: auto;
    width: auto;
    box-sizing: border-box;
    position: relative;
    bottom: 40px;
    padding: 6px;
    background: rgb(27, 27, 27, .5);
    color: #e5e5e5;
}

.intro h1{
    margin: 3px;   
}

.intro p{
    margin: 3px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    font-size: smaller;
}

.card:hover{
  cursor: pointer;
  background: #000;
 
}

.card:hover .intro{
    height: 80%;
    width: 100%;
    bottom: 80px;
    background: #000;
    transition: linear .3s;
}

.card:hover p{
    background: #000;
    opacity: 1;
    visibility: visible;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*FOOTER*/

.footer {
    background-color: var(--black-gray);
    font-family: 'Inter', sans-serif;
}

.footer h2 {
    color: var(--white);
    text-align: center;
    padding-top: 3rem;
}

.contac {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /*padding: 3rem 1.5rem 3rem 1.5rem;*/
}

.contac img {
    padding: 0.5rem;
}


.contac h2 {
    color: var(--white);
    padding: 1rem;
    font-size: 1.8rem;
}

.contac h3 {
    color: var(--white);
    font-size: 1.05rem;
    padding: 0.5rem;
}

.contac p {
    color: var(--gray);
    font-size: 0.9rem;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 1.5rem 3rem 1.5rem;

}

.email h2 {
    color: var(--white);
    font-size: 1.05rem;
    padding: 0.5rem;
}

.email p {
    color: var(--gray);
    font-size: 0.9rem;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 2.5rem 5rem;
}

.final nav {
    color: var(--gray);
    font-size: 0.9rem;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 678px) {
    label {
        display: none;
    }

    .nav-menu {
        position: static;
        min-height: auto;
        flex-direction: row;
        height: 80p;
        max-height: 80px;
        justify-content: flex-end;
        background-color: transparent;
        gap: 1rem;
    }

    .nav-item {
        font-size: 1rem;
    }
}

/*************************************************************************************************************************************************************************************/

/*#perfil-photo{
    
    
    
    
    
}*/
/*560 x 536*/
/*200 x 213*/
.social-conteiner {
    background-color: transparent;
    display: flex;
    gap: 1.1rem;
    justify-content: center;



}



#Rectangle {
    position: absolute;
    right: 0px;
    width: 50%;
    height: 90%;
    top: 4vw;
}

/*viewBox="0 0 282 400"*/
/*width: 355px*/
/*heigth:405px*/

@media only screen and (max-width: 600px) {
    

    .footer h2 {
        padding-bottom: 1.5rem;
    }

    .social-conteiner {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    .words h3 {
        font-size: 1rem;
    }

    .angulo img {
        width: 455px;
        height: 395px;
    }

}

@media only screen and (min-width: 600px) {


    #perfil-photo {
        width: 200px;
        height: 213px;
    }

    .footer h2 {
        padding-bottom: 1.5rem;
    }

    .social-conteiner {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    .words h3 {
        font-size: 1rem;
    }


}

@media only screen and (min-width: 768px) {

    .footer h2 {
        padding-bottom: 1.5rem;
    }

    .social-conteiner {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    .words h3 {
        font-size: 1.2rem;
    }

    .angulo img {
        width: 540px;
        height: 395px;
    }



}

@media only screen and (width: 768px) {
    .portafolio-conteiner{
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (min-width: 992px) {

    /*.header-content h1{
        
    }*/
    .header-content h2 {

        padding-right: 3rem;
    }

    /*.header-content h3{
        
    }*/
    span {
        font-size: 1.3rem;
    }

    .header-content h4 {
        font-size: 1.3rem;
    }

    .header-information {
        flex-direction: row;
        text-align: start;
        padding: 3.5rem 1.5rem 5rem;

    }

    .social-conteiner {
        justify-content: flex-start;
    }

    .social-conteiner img {
        width: 40px;
        height: 40px;
    }

    #perfil-photo {
        width: 560px;
        height: 536px;

    }

    .icon-UA {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
    }

    .words h3 {
        font-size: 1.5rem;
    }

    .final nav {
        font-size: 1rem;
    }

    .angulo img {
        width: 512px;
        height: 395px;
    }

    #delete {
        display: none;
    }
}

/*560 x 536*/
@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1200px) {

    .words h3 {
        font-size: 1.5rem;
    }

    .angulo img {
        width: 700px;

    }

}

/************************************************************************************************************************************************************************/

@media only screen and (min-width: 992px) {

    .portafolio-conteiner{
        grid-template-columns: repeat(3,1fr);
    }
    .final {
        background-color: var(--black);
    }

    .contac {
        display: flex;
        /* flex-direction: column; */
        flex-direction: row;
        align-items: center;
        /* justify-content: space-between; */
        justify-content: space-evenly;
        text-align: center;
    }
}

@media only screen and (max-width: 425px) {
    .angulo img {
        width: 315px;
        height: 460px;
    }

    .skills {
        font-size: 1.5rem;
    }

    .nav {
        height: 50px;
    }

    #perfil-photo {
        width: 200px;
        height: 213px;
    }

}

@media only screen and (max-width:375px) {
    .angulo img {
        width: 295px;
    }
}

@media only screen and (max-width:320px) {
    .angulo img {
        width: 265px;
    }
}

@media only screen and (max-width:601px) and (max-width:767px) {
    .angulo-img {
        width: calc(100vh - 400px);
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width:375px) {
    .content-icon {
        width: calc(80px + 10px)
    }
}

@media only screen and (min-width:425px) {
    .content-icon {
        width: calc(80px + 20px)
    }
}

@media screen and (min-width:500px) and (max-width:768px) {
    .content-icon {
        width: calc(80px + 27px)
    }

    .content {
        padding-right: 2rem;
        font-size: small;
    }
}

@media screen and (min-width:600px) and (max-width:768px) {
    .content {
        padding-right: 3rem;
        font-size: smaller;
    }
}

@media only screen and (min-width:900px)

/*and (max-width:1440)*/
    {

    .content-icon {
        width: calc(80px + 80px)
    }

    .content {
        padding-right: 5rem;
        font-size: x-large;
    }
}

@media screen and (min-width: 769px) and (max-width: 899px) {
    .content {
        font-size: medium;
    }
}

/******************************************************************************************************************************************************************/